/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  max-width: 1440px;
  font-size: 62.5%;
  --intro-email-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonial-bg: hsl(219, 30%, 18%);
  --cyan-action: hsl(176, 68%, 64%);
  --blue-action: hsl(198, 60%, 50%);
  --light-error: hsl(0, 100%, 63%);
}

@font-face {
  font-family: Raleway;
  src: url(./fonts/OpenSans-Italic-VariableFont_wdth\wght.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(./fonts/raleway400.ttf);
}
@font-face {
  font-family: open-sans;
  src: url(./fonts/OpenSans-Italic-VariableFont_wdth\wght.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(./fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  font-family: "open-sans", sans-serif;
  font-size: 1.4rem;
  color: hsl(0, 0%, 100%);
  max-width: 1440px;
}

header,
nav,
h1,
h2,
h2,
h3,
h4 {
  font-family: "raleway", sans-serif;
}

ul {
  list-style: none;
}
a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

/* NAV SECTION */
header {
  background: var(--intro-email-bg);
}
nav {
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 40rem;
}
.navlinks li:hover {
  text-decoration: underline;
  font-weight: 700;
}
.logo img {
  width: 50%;
}

/* Hero section */
.hero {
  background-color: var(--intro-email-bg);
  text-align: center;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-image {
  max-width: 30%;
}
.hero-text {
  width: 30%;
  padding-top: 4rem;
  z-index: 1;
}
.hero h1 {
  line-height: 3rem;
  padding: 1rem 0;
}

.hero-text p {
  line-height: 2rem;
}
button {
  background-color: var(--blue-action);
  min-width: 20rem;
  padding: 1rem;
  border-radius: 3rem;
  border: none;
  margin: 2rem auto 0 auto;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
button:hover {
  font-weight: 700;
  background-color: var(--cyan-action);
}
.curvy-desktop {
  width: 100%;
  margin-top: -20%;
}
.curvy-mobile {
  display: none;
}

/* Intro */
.intro {
  background-color: var(--main-bg);
  padding: 0 30rem;
}
.intro-wrapper p {
  padding: 2rem 1.8rem;
}
.intro-wrapper {
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.intro-top,
.intro-bottom {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.security,
.file,
.access,
.collab {
  flex: 1;
  width: 30rem;
}

/* illustration section */
.illustration {
  padding: 10rem 5%;
  text-align: left;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  max-width: inherit;
}
.illustration-image {
  flex: 1 1 40rem;
  max-width: 95%;
  margin: 0 0 0 auto;
}
.illustration-image img {
  max-width: 95%;
}
.illustration-text {
  flex: 1 1 40rem;
  /* margin: 0 8rem 0 4rem; */
  line-height: 2rem;
}
.illustration-text h2 {
  padding-bottom: 1rem;
}
.illustration a {
  color: var(--blue-action);
  border-bottom: 1px solid var(--blue-action);
  display: flex;
  width: fit-content;
  padding-bottom: 1px;
  margin-top: 2rem;
}
.illustration a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* Testimony section */
.testimony {
  position: relative;
  padding-bottom: 20rem;
  background-color: var(--main-bg);
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  gap: 2rem;
  z-index: 1;
}
.card {
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.1);
  line-height: 2rem;
  padding: 2rem 1rem;
  background-color: var(--testimonial-bg);
  position: relative;
}

.card1 .quote {
  margin-top: -5rem;
  margin-left: -2rem;
  position: absolute;
  z-index: -1;
}
.card .pic {
  border-radius: 50%;
  width: 15%;
  height: 15%;
}
.card .profile {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  font-size: smaller;
}
.profile p {
  font-size: smaller;
}

.sign-up {
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.1);
  background-color: var(--testimonial-bg);
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 0.5rem;
  position: absolute;
  padding: 3rem 0;
}
.help {
  padding: 1rem 2.9rem;
}
.help h2 {
  padding-bottom: 1rem;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
form button {
  min-width: 30%;
  margin: 1rem;
  padding: 1rem 0.5rem;
}
input {
  width: 60%;
  padding: 1rem 1rem;
  border-radius: 2rem;
  outline: none;
}

footer {
  position: relative;
  padding: 15rem 0 3rem 0;
  background-color: var(--footer-bg);
}
.footer {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
footer .img {
  width: 15%;
  padding-left: 5%;
  padding-bottom: 3rem;
}
.address {
  margin-right: 5rem;
  display: flex;
  align-items: flex-start;
  line-height: 1.5;
  flex: 3.5;
  gap: 1.5rem;
}
.address img {
  padding-top: 0.5rem;
}
.call {
  flex: 2;
  line-height: 4rem;
}

.about,
.contact,
.links {
  line-height: 4rem;
  flex: 1;
}
.links ul {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
}
.footer svg {
  border-radius: 50%;
  padding: 0.5rem;
  width: 25px;
  height: 25px;
  border: white 0.1px solid;
}
.footer svg:hover {
  fill: var(--cyan-action);
  border: var(--cyan-action) 0.1px solid;
}

/* media query */
@media (max-width: 375px) {
  html,
  body {
    max-width: 375px;
    /* overflow-y: hidden; */
  }
  .curvy-desktop {
    display: none;
  }

  nav {
    align-items: center;
    width: 100%;
  }
  .logo {
    flex: 1;
  }
  .logo img {
    width: 5rem;
  }
  .navlinks {
    justify-content: center;
    width: 10rem;
    flex: 2;
    gap: 2rem;
  }

  .hero {
    background-color: var(--intro-email-bg);
  }
  .hero-image {
    width: 60%;
    z-index: 1;
  }
  .curvy-mobile {
    display: block;
    width: 100%;
    margin-top: -85%;
  }
  .hero-text {
    width: 100%;
    padding: 2rem 4rem;
  }
  .intro {
    padding: 0;
  }
  .intro-wrapper {
    width: 100%;
    padding-top: 20rem;
    text-align: center;
    gap: 1rem;
  }
  .intro-top,
  .intro-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .security,
  .file,
  .access,
  .collab {
    width: 100%;
    padding: 3rem;
  }

  .illustration {
    width: 100%;
    flex-direction: column;
    gap: 0rem;
    padding: 0;
  }
  .illustration-image {
    margin-bottom: 0rem;
  }
  .illustration-image img {
    width: 90%;
  }
  .illustration-text {
    padding: 0 2rem;
    line-height: 2rem;
  }
  .cards {
    padding: 0 2rem;
    flex-direction: column;
  }

  .testimony {
    padding-bottom: 25rem;
  }
  .sign-up {
    width: 90%;
    margin: auto;
  }
  .help {
    padding: 1rem 3rem;
  }
  .help h2 {
    padding-bottom: 1rem;
  }
  form {
    flex-direction: column;
  }
  form button,
  input {
    width: 80%;
  }

  .footer {
    padding-left: 3rem;
    flex-direction: column;
  }
  footer .img {
    width: 45%;
    padding-left: 10%;
    padding-bottom: 3rem;
    margin-top: 4rem;
  }
  .address {
    width: 100%;
    padding-right: 2rem;
    margin-bottom: 2rem;
    flex: 1;
  }
  .about,
  .contact {
    margin-bottom: 4rem;
  }
  .links {
    align-self: center;
  }
}
